In [4]:

import pandas as pd
from pathlib import Path

point_data_path = Path(r"C:\Users\Mac Prible\repos\calicam\sessions\iterative_adjustment\triangulated_points.csv")
point_data = pd.read_csv(point_data_path)

In [26]:
frame_data = point_data.query("bundle == 20")
frame_data

    Unnamed: 0    pair       time  bundle  id     x_pos     y_pos     z_pos
57          57  (0, 1)  13.919567      20   8 -0.061096 -0.002379  0.328091
58          58  (0, 1)  13.919567      20  11 -0.026304 -0.000591  0.333124
59          59  (0, 2)  13.919611      20   5 -0.069512  0.034403  0.351988
60          60  (0, 2)  13.919611      20   8 -0.052884  0.035999  0.321278
61          61  (0, 2)  13.919611      20  10 -0.044983  0.002541  0.281570
62          62  (0, 2)  13.919611      20  11 -0.041972  0.038704  0.288982
63          63  (1, 2)  13.934191      20   8 -0.065331  0.135611  0.309169
64          64  (1, 2)  13.934191      20  11 -0.031077  0.133031  0.290142

In [24]:
pairs = frame_data["pair"].unique().tolist()
pairs

['(0, 1)', '(0, 2)', '(1, 2)']

In [35]:
for pair in pairs:
    pair_data = frame_data.query(f"pair == '{str(pair)}'")
    print(pair)
    print(pair_data)

(0, 1)
    Unnamed: 0    pair       time  bundle  id     x_pos     y_pos     z_pos
57          57  (0, 1)  13.919567      20   8 -0.061096 -0.002379  0.328091
58          58  (0, 1)  13.919567      20  11 -0.026304 -0.000591  0.333124
(0, 2)
    Unnamed: 0    pair       time  bundle  id     x_pos     y_pos     z_pos
59          59  (0, 2)  13.919611      20   5 -0.069512  0.034403  0.351988
60          60  (0, 2)  13.919611      20   8 -0.052884  0.035999  0.321278
61          61  (0, 2)  13.919611      20  10 -0.044983  0.002541  0.281570
62          62  (0, 2)  13.919611      20  11 -0.041972  0.038704  0.288982
(1, 2)
    Unnamed: 0    pair       time  bundle  id     x_pos     y_pos     z_pos
63          63  (1, 2)  13.934191      20   8 -0.065331  0.135611  0.309169
64          64  (1, 2)  13.934191      20  11 -0.031077  0.133031  0.290142

In [34]:
frame_data.query("pair == '(0, 1)'")

    Unnamed: 0    pair       time  bundle  id     x_pos     y_pos     z_pos
57          57  (0, 1)  13.919567      20   8 -0.061096 -0.002379  0.328091
58          58  (0, 1)  13.919567      20  11 -0.026304 -0.000591  0.333124