In [4]:

import pandas as pd
from pathlib import Path

point_data_path = Path(r"C:\Users\Mac Prible\repos\calicam\sessions\iterative_adjustment\triangulated_points.csv")
point_data = pd.read_csv(point_data_path)

In [5]:
frame_data = point_data.query("bundle == 20")
frame_data

    Unnamed: 0    pair       time  bundle  id     x_pos     y_pos     z_pos
57          57  (0, 1)  13.919567      20   8 -0.061096 -0.002379  0.328091
58          58  (0, 1)  13.919567      20  11 -0.026304 -0.000591  0.333124
59          59  (0, 2)  13.919611      20   5 -0.069512  0.034403  0.351988
60          60  (0, 2)  13.919611      20   8 -0.052884  0.035999  0.321278
61          61  (0, 2)  13.919611      20  10 -0.044983  0.002541  0.281570
62          62  (0, 2)  13.919611      20  11 -0.041972  0.038704  0.288982
63          63  (1, 2)  13.934191      20   8 -0.065331  0.135611  0.309169
64          64  (1, 2)  13.934191      20  11 -0.031077  0.133031  0.290142

In [6]:
pairs = frame_data["pair"].unique().tolist()
pairs

['(0, 1)', '(0, 2)', '(1, 2)']

In [7]:
for pair in pairs:
    pair_data = frame_data.query(f"pair == '{str(pair)}'")
    print(pair)
    print(pair_data)

(0, 1)
    Unnamed: 0    pair       time  bundle  id     x_pos     y_pos     z_pos
57          57  (0, 1)  13.919567      20   8 -0.061096 -0.002379  0.328091
58          58  (0, 1)  13.919567      20  11 -0.026304 -0.000591  0.333124
(0, 2)
    Unnamed: 0    pair       time  bundle  id     x_pos     y_pos     z_pos
59          59  (0, 2)  13.919611      20   5 -0.069512  0.034403  0.351988
60          60  (0, 2)  13.919611      20   8 -0.052884  0.035999  0.321278
61          61  (0, 2)  13.919611      20  10 -0.044983  0.002541  0.281570
62          62  (0, 2)  13.919611      20  11 -0.041972  0.038704  0.288982
(1, 2)
    Unnamed: 0    pair       time  bundle  id     x_pos     y_pos     z_pos
63          63  (1, 2)  13.934191      20   8 -0.065331  0.135611  0.309169
64          64  (1, 2)  13.934191      20  11 -0.031077  0.133031  0.290142

In [20]:
import numpy

single_pair_board = frame_data.query("pair == '(0, 2)'")
single_pair_board

x = single_pair_board.x_pos.to_numpy()
y = single_pair_board.y_pos.to_numpy()
z = single_pair_board.z_pos.to_numpy()

new_data = numpy.stack([x,y,z], axis=1)
new_data

array([[-0.06951225,  0.03440293,  0.35198784],
       [-0.05288362,  0.0359989 ,  0.32127808],
       [-0.04498348,  0.00254055,  0.28157009],
       [-0.04197242,  0.03870355,  0.28898158]])

In [28]:
point_data["bundle"].unique().tolist()

[4,
 8,
 3,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 170,
 171,
 172,
 173,
 174,
 175,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274]